// ==============================
// Custom style
// 自定义样式
// ==============================

.nested_table#nested_table {
    background: transparent;
    margin: 0px;

    th {
        border: none;
        padding: 0px;
    }
}

th#right, td#right {
    text-align: right;
}

table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

.publications td:first-child::before {
  content: counter(rowNumber);
}

.publications#publications tr:first-child td {
    border-top: none;
    padding-top:0px;
}

.publications#publications tr:last-child td {
    border-bottom: none;
    padding-bottom:0px;
}

.publications#publications {

    td {
        border-left: none;
        border-right: none;
        padding-top:20px;
        padding-bottom:20px;
    }

}