{{ $header := .Get "header" | markdownify }}
{{ $iconPath := .Get "icon" }}
{{ $icon := dict "Src" $iconPath | partial "plugin/image.html" -}}
{{ $class := .Get "class" }}

{{ $htmlBody := .Inner | safeHTML }}
{{ $old_class := "<table>" }}
{{ $new_class := printf "<table class=\"%s\" id=\"%s\">" $class $class }}
{{ $htmlBody = replace $htmlBody $old_class $new_class }}

{{ $emptyTable := printf "| ICON %s |\n| :--- |\n||" $header | markdownify }}
{{ $emptyTable = replace $emptyTable "ICON" $icon }}

{{ $emptyData := "<td></td>" }}
{{ $newData := printf "<td>%s</td>" $htmlBody }}
{{ $emptyTable = replace $emptyTable $emptyData $newData }}

{{ $emptyTable | safeHTML }}